<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="htpp://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: taghead">
</head>
<body>
	<div class="container">
		<div th:replace="fragments/menu :: tagmenu"></div>
		<form th:action="@{/emprunt/add}" th:object="${empruntForm}"
			method="post" class="form-group">

			<div class= "form-row">
				<label class="form-label" th:text="#{titre.emprunt.datedebut}">Date de début</label>
				<div class="col-sm-4">
					<div class="input-group date datepicker">
						<input type="text" placeholder="Choisir une date de début" class="form-control" th:field="*{datedebut}" required />
						<span class="input-group-append">
							<span class="input-group-text bg-white">
								<i class="bi bi-calendar"></i>
							</span>						
						</span>
					</div>
				</div>
				
				<label class="form-label" th:text="#{titre.emprunt.datefin}">Date de fin</label>
				<div class="col-sm-4">
					<div class="input-group date datepicker">
						<input type="text" placeholder="Choisir une date de fin" class="form-control" th:field="*{datefin}" required />
						<span class="input-group-append">
							<span class="input-group-text bg-white">
								<i class="bi bi-calendar"></i>
							</span>						
						</span>
					</div>
				</div>

				<div class="col-md-4 mb-3">
					<label class="form-label" th:text="#{titre.emprunt.delai}">Délai</label> <input class="form-control"
						type="text" th:field="*{delai}" required/>
				</div>

			</div>

			<div class="form-row">
				<div class="col-md-4 mb-3">
					<label class="form-label" th:text="#{titre.emprunt.client}">Choisir un client</label> <select
						class="form-select" aria-label="Default select example"
						th:field="*{clientE}">
						<option th:each="client : ${listeClients}" th:text=${client.nom}
							th:value="${client.id}" />

					</select>
				</div>
				<div class="col-md-4 mb-3">
					<label class="form-label" th:text="#{titre.emprunt.choix.livres}">Choisir un ou plusieurs livres</label> <select
						class="form-select" th:field="*{livresE}" multiple>
						<option th:each="l : ${listeLivres}" th:text=${l.titre}
							th:value="${l.id}" />
					</select>
				</div>

			</div>

			<div class="form-row">
				<div class="col-md-4 mb-3">
					<a class="btn btn-light" th:href="@{/emprunt/emprunts}" th:text="#{titre.btn.retour}">Retour</a>
					<button class="btn btn-success" type="submit" th:text="#{titre.btn.valider}">Valider</button>
				</div>
			</div>
		</form>
	</div>

</body>

<!-- Script pour activation du datepicker -->
<script type="text/javascript">
	$(function() {
		// ACTIVATION DU DATEPICKER 
		$('.datepicker').datepicker({
			clearBtn : true,
			format : "yyyy-mm-dd"
		});
	});
</script>

</html>