<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="htpp://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: taghead">
</head>
<body>
<div th:replace="fragments/menu :: tagmenu">
</div>
	<form th:action="@{/emprunt/add}" th:object="${empruntForm}"
		method="post">
		Date de début: <input type="text" th:field="*{datedebut}" /> <br />  
		Date de fin: <input type="text" th:field="*{datefin}" /> <br />
		Délai: <input type="text" th:field="*{delai}" /> <br /> Choisir un
		client: <select th:field="*{clientE}">
			<option th:each="client : ${listeClients}" th:text=${client.nom}
				th:value="${client.id}" />

		</select> <br /> 
		Choisir un ou plusieurs livres:
		<select th:field="*{livresE}"  multiple >
			<option th:each="l : ${listeLivres}"  th:text=${l.titre} th:value="${l.id}" />
		</select>

		<br /> <input type="submit" value="Create" />
	</form>
	<br />
	<a th:href="@{/emprunt/emprunts}">Retour</a>

</body>
</html>