<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="htpp://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: taghead">
</head>

<body>
<div th:replace="fragments/menu :: tagmenu">
</div>

	<a th:href="@{/emprunt/add}">Ajout</a>
	<hr />
	<table>
		<thead>
			<tr>
				<th>id</th>
				<th>Date début</th>
				<th>Date fin</th>
				<th>Délai</th>
				<th>Nom client</th>
				<th>Prénom client</th>
				<th>Livres</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="emprunt : ${emprunts}">
				<td th:text="${emprunt.id}"></td>
				<td th:text="${emprunt.datedebut}"></td>
				<td th:text="${emprunt.datefin}"></td>
				<td th:text="${emprunt.delai}"></td>
			 	<td th:text="${emprunt.clientE.nom}"></td> 
			  	<td th:text="${emprunt.clientE.prenom}"></td>
			  	<td>
			  		<span></span>
			  		<ul>
			  			<li th:each="l : ${gre.findByLivre(emprunt)}" th:text="${l.titre}"></li>

			  		</ul>
			  	</td>
			  	
				<td><a
					onclick="return confirm('Etes vous sûre de vouloir supprimer?')"
					th:href="@{/emprunt/delete/{id}(id=${emprunt.id})}">Supprimer</a></td>
				<td><a th:href="@{/emprunt/update/{id}(id=${emprunt.id})}">Update</a></td>
			</tr>
		</tbody>
	</table>
</body>
</html>