<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="htpp://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: taghead">
</head>

<body>
<div class="container">
<div th:replace="fragments/menu :: tagmenu">
</div>

	<a class="btn btn-secondary" th:href="@{/emprunt/add}" th:text="#{titre.btn.ajouter}">Ajout</a>
	<hr />
	<table class="table table-hover">
		<thead>
			<tr>
				<th>Ref.</th>
				<th th:text="#{titre.emprunt.datedebut}">Date début</th>
				<th th:text="#{titre.emprunt.datefin}">Date fin</th>
				<th th:text="#{titre.emprunt.delai}">Délai</th>
				<th th:text="#{titre.emprunt.nom}">Nom client</th>
				<th th:text="#{titre.emprunt.prenom}">Prénom client</th>
				<th th:text="#{titre.emprunt.livres}">Livres</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="emprunt : ${emprunts}">
				<td th:text="${emprunt.id}"></td>
				<td th:text="${emprunt.datedebut}"></td>
				<td th:text="${emprunt.datefin}"></td>
				<td th:text="${emprunt.delai}"></td>
			 	<td th:text="${emprunt.clientE.nom}"></td> 
			  	<td th:text="${emprunt.clientE.prenom}"></td>
			  	<td>
			  		<span></span>
			  		<ul>
			  			<li th:each="l : ${gre.findByLivre(emprunt)}" th:text="${l.titre}"></li>

			  		</ul>
			  	</td>
			  	
				<td><a th:text="#{titre.btn.supprimer}" class="btn btn-danger"
					onclick="return confirm('Etes vous sûre de vouloir supprimer?')"
					th:href="@{/emprunt/delete/{id}(id=${emprunt.id})}">Supprimer</a></td>
				<td><a th:text="#{titre.btn.actualiser}" class="btn btn-warning" th:href="@{/emprunt/update/{id}(id=${emprunt.id})}">Modifier</a></td>
			</tr>
		</tbody>
	</table>
</div>

</body>
</html>