<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="htpp://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="${titre}">Titre</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>
<body>
	<h1 th:text="${titre}"></h1>
	<form th:action="@{/emprunt/update}" th:object="${empruntForm}" method="post">

	<input type="hidden" th:field="*{id}"/>
	<br/>
		Date de début:
		<input type="text" th:field="*{datedebut}"/>
		<br/>
		Date de fin:
		<input type="text" th:field="*{datefin}"/>
		<br/>
		délai:
		<input type="text" th:field="*{delai}"/>
		<br/>
		Choisir un client: <select th:field="*{clientE}">
			<option th:each="client : ${listeClients}" th:text=${client.nom}
				th:value="${client.id}" />
				</select>
				<br/>
		<input type="submit" value="Update"/>
	</form>
	<br/>
	<a th:href="@{/emprunt/emprunts}">Retour</a>

</body>
</html>


