<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="htpp://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: taghead">
</head>
<body>
<div th:replace="fragments/menu :: tagmenu">
</div>
	<a th:href="@{/livre/add}">Ajout</a>
	<hr />
	<table>
		<thead>
			<tr>
				<th>Auteur</th>
				<th>Titre</th>
				<th>Emprunts</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="livre : ${livres}">
				<td th:text="${livre.auteur}"></td>
				<td th:text="${livre.titre}"></td>
				<td >
					<span></span>
					<ul>
						<div th:each="e : ${livre.empruntLivres}">
							<li th:text="${e.datefin}"></li>
						</div>
					</ul>
				</td>
				<td><a onclick="return confirm('Etes-vous sûre de vouloir supprimer?')" th:href="@{/livre/delete/{id}(id=${livre.id})}">Supprimer</a></td>
			<td><a th:href="@{/livre/update/{id}(id=${livre.id})}">Update</a></td>
			</tr>
		</tbody>
	</table>
</body>
</html>