<div th:fragment="tagmenu">
    <h2 th:text="#{hello.world}"></h2>
    <h1 th:text="${titre}">HOME</h1>
    <a class="btn btn-primary" th:href="@{/client/clients}" th:text="#{titre.gestion.client}">Gestion des Clients</a>
    <a class="btn btn-primary" th:href="@{/livre/livres}" th:text="#{titre.gestion.livre}">Gestion des Livres</a>
    <a class="btn btn-primary" th:href="@{/emprunt/emprunts}" th:text="#{titre.gestion.emprunt}">Gestion des Emprunts</a>
    <br/>
    <hr/>
</div>

<!-- menu.html dans le dossier templates/fragments -->