<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="htpp://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: taghead">
</head>
<body>
<div th:replace="fragments/menu :: tagmenu">
</div>
	<form th:action="@{/client/add}" th:object="${clientForm}" method="post">
		Prénom:
		<input type="text" th:field="*{prenom}"/>
		<br/>
		Nom:
		<input type="text" th:field="*{nom}"/>
		<br/>
		<input type="submit" value="Create"/>
	</form>
	<br/>
	<a th:href="@{/client/clients}">Retour</a>

</body>
</html>